/* Estilo para el contenedor principal */
.main-container{
    width: 99%;
    background-color: #000000;
}
.gene{
    display: inline-flex;
}
.center-container{
    background:#424242;
    color: white;
    margin-left: 360px;
    border-radius: 10px;
    width: 80%;   
    min-height: 700px;
    height: 520%;
    position: relative;
}
.search-input:hover{
    border: solid 1px yellow;
}

.icon{
       width: 5.5%;
       margin-right: 10px;
       margin-bottom: 10px ;
       margin-left: 10px;
       border-radius: 55%;
       margin-left: 2%;
}
/* Estilo para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #424242;
}

/* Estilo para el campo de entrada de búsqueda */
.search-input {
    padding: 20px;
    width: 40%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 90px;
    margin-left: 20px;
}
.search-input:hover{
    border: solid 2px black;
}

/* Estilo para el botón de búsqueda */
.search-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50px;
}

/* Estilo para el contenedor de resultados */
.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr)); /* Cuadrícula con columnas responsivas */
    gap: 20px; /* Espaciado entre las celdas de la cuadrícula */
    justify-content: center; /* Centrar las celdas horizontalmente */
    margin-left: 2%;
    margin-right: 10px;
    cursor: pointer;
  }

.result-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas para los resultados */
    gap: 115px; /* Espaciado entre las celdas de la cuadrícula */
    justify-content: center; /* Centrar las celdas horizontalmente */
    margin-left: 190%;
}


/* Estilo para la tarjeta de resultado */
.result-card {
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(75, 73, 70);
    justify-content: center;
}
.result-cards {
    border-radius: 4px;
    padding: 0px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10PX;
  }
  
/* Estilo para la imagen del resultado */
.result-image {
    width: 250px;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
  }
  

/* Estilo para el título del resultado */
.result-title {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: 0 auto; 
    font-weight: bold;
    text-transform: lowercase;
    color: white;
}
.result-title::first-letter{
    text-transform: uppercase;
}
.generos {
    width: 220px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 10px;
}





/* Contenedor de medio */
.asi{
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #060606;
    padding: var(--padding);
}

.asi .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.asi .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.asi .menu a span{
    margin-right: 8px;
}
.asi .menu a.active{
    border-radius: 5px;
    color: #ffffff;
}
.asi .menu a:hover{
    color: #ffffff;
}

.love{
    background-color: #007bff;
    border: none;
    padding: 5px;
    margin-left: 5px;
    color: white;
    
}
.bot{
    border-radius: 40%;
    width: 150px;
    height: 50px;
    background-color: #007bff;
    color: white;
    font: bold;
    border: none;
    margin-left: 15px;
}