/* Estilo para el contenedor principal */
.main-container{
    background-color: black;
    
    
}
.gene{
    display: inline-flex;
    margin-left: 10px;
    
}
.center-container{
    background: rgba(56, 38, 38, 0.963);
    color: white;
    margin-left: 330px;
    border-radius: 10px;
    width: 79%;   
    min-height: 711px;
}
.icon{
       width: 5%;
       margin-right: 10px;
       margin-left: 10px;
}
/* Estilo para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(90, 34, 158)
}

/* Estilo para el campo de entrada de búsqueda */
.search-input {
    padding: 20px;
    width: 30%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 90px;
    margin-left: 10%;

}

/* Estilo para el botón de búsqueda */
.search-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para el contenedor de resultados */
.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 4fr)); /* Cuadrícula con columnas responsivas */
    gap: 20px; /* Espaciado entre las celdas de la cuadrícula */
    justify-content: center; /* Centrar las celdas horizontalmente */
    margin-left: 5%;
  }

.result-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas para los resultados */
    gap: 20px; /* Espaciado entre las celdas de la cuadrícula */
    justify-content: center; /* Centrar las celdas horizontalmente */
    margin-left: 60%;
}


/* Estilo para la tarjeta de resultado */
.result-card {
    border-radius: 4px;
    padding: 10px;
    max-width: 300px;
    width: 120%;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Estilo para la imagen del resultado */
.result-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 4px;
}

/* Estilo para el título del resultado */
.result-title {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

/* Contenedor de medio */
.asi{
    position: fixed;
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #231f1f;
    padding: var(--padding);
}

.asi .menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.asi .menu a{
    text-decoration: none;
    padding: 10px 1rem;
    color: #c5c5c5;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.asi .menu a span{
    margin-right: 8px;
}
.asi .menu a.active{
    background-color: #282828;
    border-radius: 5px;
    color: #ffffff;
}
.asi .menu a:hover{
    color: #ffffff;
}
.icon{
    border-radius: 50%;
    margin-left: 2%;
}