.app-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.song-list {
    list-style: none;
    padding: 0;
    max-width: 300px;
    width: 100%;
}

.song-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    overflow: hidden;
    display: flex;
}

.song-image {
    width: 80px; /* Ajusta el ancho según tus preferencias */
    height: 100%; /* Ocupa la altura completa */
    object-fit: cover;
}

.song-details {
    padding: 16px;
}

.song-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.song-artist {
    color: #666;
    font-size: 1em;
}

.song-duration {
    color: #666;
    font-size: 0.8em;
    margin-bottom: 8px;
}

.like-button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 10%;
    margin-left: 50%;
}

.like-button:hover {
    background-color: #1a845e;
}
.xxx{
    width: 350%;
    display: grid;
    grid-template-columns: repeat(250px, 4fr);
    margin-left: 75px;
}