.Cabecilla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2340ab;
    color: white;
  }
  
  .Idioma {
    font-size: 15px;
    color: #f8f5f5;
    font-weight: bold;
  }
  .regreso{
    color: white;
    padding: 10px;
    background-color: #2340ab;
    border-radius: 3px;
  }
  .regreso:hover{
    background-color: #273e93;
  }
  
  .nombre {
    font-size: 16px;
    font-weight: bold;
  }
  
  .circulo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Estilos para el artículo */

 
.Ramt {
    margin: 40px;
  }
  
  .Mediante {
    margin-top: 15px;
    background-color: #faf8fa;
    border-radius: 10px;
    padding: 20px;
    color: black;
    font-weight: bold;
    width: 70%;
    box-shadow: 2px 5px 5px 5px rgba(0.2, 0.2, 0.2, 0.2);
    margin-left: 250px;
  }
  
  .Plan {
    font-size: 24px;
    font-weight: bold;

  }
  
  .Cambiar {
    color: #1db954;
    font-size: 14px;
  }
  
  .cajamedio {
    display: flex;

  }
  
  .Par1 {
    width: 55%;
    margin-top: 20px;
    margin-left: 25px;
  }
  .logo{
    width: 25%;
    border-radius: 5px;
  }
  .PILL {
    font-size: 18px;
    font-weight: bold;
  }
  
  .PILLS {
    color: #121010;
  }
  
  .Par2 {
    width: 40%;
  }
  
  .PILL2 {
    font-size: 16px;
  }
  
  .Par3 {
    width: 30%;
  }
  
  .PILL3 {
    font-size: 14px;
  }
  
  .arr {
    margin-top: 20px;
  }
  
  .pagos {
    font-size: 24px;
    text-align: center;
  }
  /* Estilos generales */
  .button_container {
    margin-top: 20px;
    display: inline-block;
    margin-left: 650px;
    
  }
  .titu{
    text-align: center;
    font-weight: bold;
    
  }
  
  .par {
    background-color: rgb(66, 70, 138);
    color: white;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    
  }
  .par:hover{
    background-color: #3e3f5e;
    color: white;

  }
  
  .pay {
    margin-top: 10px;
  }